@model IEnumerable<WebApplication2.Models.tarefa>

@{
    ViewBag.Title = "Index";
}

<h2>Tarefas registadas</h2>

<p>
    @Html.ActionLink("Novo Registo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.membro.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dCriacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dEntregaReal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.membro.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dCriacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dEntregaReal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idTarefa }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTarefa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTarefa })
        </td>
    </tr>
}

</table>
